@media (max-width: 1470px) {
  .md-col {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .md-text {
    margin: 0 !important;
  }
}
@media (max-width: 1300px) {
  .md-col2 {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .md-text {
    font-size: 12px !important;
  }
  .md-svg {
    margin-top: 10px !important;
    width: 40px;
    height: 40px;
  }
}
