
.rowGraph{
    display: flex;
    justify-content: center;
    align-items: center;
}
.apexcharts-toolbar{
    display: none!important;
}
.apexcharts-xaxis{
    display: none!important;
}
.apexcharts-title-text{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #414141;
    line-height: 1.19;
}
.apexcharts-title-text{
    font-family: "Montserrat";

    font-size: 18px;
  
    font-weight: normal;
  
    font-stretch: normal;
  
    font-style: normal;
  
    line-height: 1.19;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #414141;
}

 