.apexcharts-xaxis {
  display: block !important;
}
.line-chart .apexcharts-tooltip.apexcharts-theme-light {
  background-color: #707070 !important;
  color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  font-weight: bold;
}
.line-chart .apexcharts-tooltip-title {
  background-color: #707070 !important;
  color: white !important;
  margin: 0 10px;
  border: 0 !important;
  padding: 0 !important;
  padding-top: 2px !important;
  font-weight: bold;
}
.line-chart .apexcharts-tooltip-marker {
  display: none !important;
}
.line-chart .apexcharts-tooltip-series-group {
  padding: 0 10px !important;
  padding-bottom: 2px !important;
}
@media (max-width: 1142px) {
  .card-header.card-header-tab .card-header-title {
    font-size: 14px !important;
  }
  .btn-alternate {
    padding: 2px 7px !important;
    font-size: 12px !important;
  }
}
.chart-donut .apexcharts-legend {
  display: none !important;
}
.scroling-div {
  overflow: scroll;
  overflow-x: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 320px;
}
.hover-title:hover {
  background-color: white !important;
  color: #ffb808 !important;
}
@media (max-width: 1388px) {
  .finance-row {
    flex-direction: column !important;
    align-items: center;
    justify-content: flex-start;
  }
  .finance-part1 {
    width: 100% !important;
    margin: 2rem 0;
  }

  .chart-donut {
    display: flex !important;
    justify-content: center !important;
  }
  .app-page-title.finance-page {
    padding-bottom: 0 !important;
  }
}
.apexcharts-text.apexcharts-pie-label {
  display: none !important;
}
.card-hover {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.card-hover:hover {
  transform: scale(1.1);
}
