.main_header_admin {
  position: fixed;
  z-index: 1030;
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0 8px 10px -8px #999;
  -moz-box-shadow: 0 8px 10px -8px #999;
  box-shadow: 0 8px 10px -8px #999;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  transition: all 0.2s;
}
.logo-navbar {
  background-color: #02303e;
  height: 100%;
  padding: 15px 15px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 1s;
}
.logo-navbar-res {
  background-color: #02303e;
  height: 100%;
  padding: 15px 15px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 1s;
}
.navbar_header_admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 0;
  height: 60px;
}

.partLeft {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile_admin a {
  margin: 0 20px;
}
.notification_admin {
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.notification_admin img {
  width: 50px;
  height: 50px;
}
.nameAdmin {
}
.nameAdmin img {
  float: left;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 8px;
  border: 0.5 #707070;
}

.flexCol span {
  font-size: 14px;
}
.flexCol h3 {
  font-size: 10px;
  color: #717171;
  white-space: nowrap;
}
.buttons_nav {
  margin-right: 50px;
}
.buttons_nav .active {
  color: #fdb607;
}
.middlePart {
  margin: 0 50px;
}
.homeButtonAdmin {
  background-color: #084c61;
  padding: 10px 26px;
  border-radius: 38px;
  color: white !important;
  text-align: center;
}
.buttons_nav a {
  margin: 0 50px;
  font-weight: 700;
  font-size: 17px;
  font-family: "Segoe UI";
  color: #707070;
}
.search_admin-v {
  background-color: #f1f1f1;
  padding: 10px 17px;
  border-radius: 26px;
}
.search_admin-v input {
  background-color: rgba(0, 0, 0, 0);
  font-size: 17px;
}
.fontSearch.fa {
  color: #000;
}
.form-control.inputSearch {
  color: #555555;
  border: none !important;
  padding: 0 10px;
}

.form-control.inputSearch:focus {
  border: none !important;
  background-color: #f1f1f1 !important;
  box-shadow: none !important;
}
.form-control.inputSearch:active {
  border: none !important;
  background-color: #f1f1f1 !important;
}

@media (max-width: 1300px) {
  p {
    font-size: 14px !important;
  }
  span {
    font-size: 14px !important;
  }
  .main_header_admin h1 {
    font-size: 20px !important;
  }
  h3 {
    font-size: 12px !important;
  }
  a {
    font-size: 16px !important;
  }
  .search_admin-v {
    padding: 6px 8px;
    font-size: 16px;
  }
  .search_admin-v input {
    font-size: 16px;
  }
  .buttons_nav a {
    margin: 0 25px;
  }
}
@media (max-width: 1130px) {
  .search_admin-v {
    font-size: 14px !important;
  }
  .search_admin-v input {
    font-size: 14px;
  }
  .buttons_nav a {
    margin: 0 15px;
  }
  .middlePart {
    margin: 0 25px !important;
  }
}

@media (max-width: 1172px) {
  .responsive-rate {
    display: flex !important;
    font-size: 14px !important;
  }
  .responsive-rate h1 {
    font-size: 14px !important;
  }
  .responsive-rate p {
    font-size: 13px !important;
  }
}

@media (max-width: 1050px) {
  .arrowProduct {
    margin: 0 2px !important;
  }
}
.notification-box {
  position: absolute;
  top: 70px;
  height: auto;
}
.notification-box.hidden {
  max-height: 0 !important;
}
.nav-h {
  height: 60px;
}
.sidebar-toggle {
  color: #000;
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 15px 15px;
  font-family: fontAwesome;
  font-size: 20px;
}
.sidebar-toggle::before {
  content: "\f0c9";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
