@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.mainGeneralDashbord{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    padding: 25px 0;
    padding-bottom: 10px;

}
.GeneralDash{
  margin: 0 50px;

}
.GeneralDash h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #171717;
}
.GeneralButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.GeneralButtons a{
        margin: 0 10px;
        padding: 8px 12px;
        font-size: 14px;
        font-weight: normal;
        border-radius: 18px;
        box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
        font-family: 'Montserrat', sans-serif;
}
.GeneralGraphX{
    max-width: 40%;
    margin: 0 80px;

}
.topProducts{
    margin-left: 80px;
    max-width: 50%;
}

.topProducts > .TitleP > .GeneralDash p{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}
.TitleP{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.tableProduct{
    margin: 0 5rem;
    height: 350px;      
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
.tableProduct::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.table .specialTh{
    border: 1px solid #dee2e6;
    border-top: none;
    border-bottom: none;
    font-family: " Helvetica, Arial, sans-serif";
    font-size: 14px;  
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #171717;


}
.table .specialTh{
    border: 1px solid #dee2e6;
    border-bottom: none;
    border-top: none;
}

.table th{
    padding: .75rem 4rem;
    background-color: #f5f5f5;
    font-family: " Helvetica, Arial, sans-serif";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #171717;
    white-space: nowrap;
}
.table td{
    padding: 0rem .75rem;
}

.nameAdmin p{
    white-space: nowrap;
    font-family: " Helvetica, Arial, sans-serif";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #171717;
}
.productInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.ContainerSect{
    width: 80%;
    margin: 0 5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
}
.arrowProductUp{
    width: 16px;
    height: 16px;
}
.arrowProduct p{
    margin-right: 0 2px;
}
.arrowProduct{
    margin: 0 5px;
}
.TitleP .GeneralDash p{
    font-family: " Helvetica, Arial, sans-serif";

    font-size: 18px;
  
    font-weight: normal;
  
    font-stretch: normal;
  
    font-style: normal;
  
    line-height: 1.14;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #414141;
    margin-top: 15px;
}
.GeneralGraphX{
    margin-left: 80px;
    max-width: 50%;
    padding: 15px 0;
    padding-bottom: 10px;
}
.productInfo p{
    font-family: " Helvetica, Arial, sans-serif";

    font-size: 14px;
  
    font-weight: normal;
  
    font-stretch: normal;
  
    font-style: normal;
  
    line-height: 1.19;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #171717;
}
