.shaker .active {
  background-color: #a0a0a0ef;
}
.imgStyle.sec {
  width: 40px !important;
  height: 40px !important;
}
.set-background-color {
  background-color: #f3f3f3;
}
.set-background-color-v2 {
  background-color: #ffffff;
  opacity: 0.55;
}
.scroll-div {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  max-height: 450px;
}
.set-top-tour {
  background-image: url("./images/dubai.jpg");
  height: 160px;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: left;
}
.set-top-tour h1 {
  margin: 5px 0;
  font-size: 14px !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #2d2d2d;
}
.set-top-tour p {
  font-size: 11px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #2d2d2d;
}
.spanProgress {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #179ef7;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 4s width;
}

@media (max-width: 1470px) {
  .widget-content > .imgStyle {
    width: 2rem !important;
    height: 2rem !important;
    padding: 0 !important;
  }
  .responsive-icons {
    width: 1rem !important;
    height: 1rem !important;
    padding: 0 !important;
    margin: 0 5px !important;
  }
}
.font-size-res {
  font-size: 1rem !important;
}
@media (max-width: 1316px) {
  .font-size-res {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 1500px) {
  .font-size-res {
    font-size: 18px !important;
  }
  .imgStyle.sec {
    width: 60px !important;
    height: 60px !important;
  }
  .row_top {
    flex-direction: column !important;
  }
  .row_top .scroll-div {
    width: 100% !important;
  }
}
.cls {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  max-height: 300px;
}
@media (max-width: 1440px) {
  .cli {
    padding: 0 8em !important;
  }
}
