.mainAsideAdmin {
  width: 230px;
  height: 100%;
  background-color: #084c61;
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 10;
  box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
  transition: width 0.3s;
}
.mainAsideAdminResized {
  width: 80px;
  height: 100%;
  background-color: #084c61;
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 10;
  box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
  transition: width 0.5s;
}
.mainAsideSection {
  z-index: 15;
  position: relative;
  overflow: hidden !important;
  overflow-anchor: none;
  touch-action: auto;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}
.logout-btn {
  width: 40px;
  height: 40px;
}
.active-sidebar {
  background-color: #3c6775;
  border-left: 5px solid #ffbe20;
  color: white;
}
.sidebar-menu {
  white-space: nowrap;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.fa.fa-angle-left.pull-right {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  -webkit-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  color: white;
}

.fa.fa-angle-left.pull-right::before {
  content: "\f104";
}
.pad-a {
  padding: 12px 5px 12px 5px;
}
.pad-a span {
  font-size: 16px;
  line-height: 20px;
}
.pad-logout:hover {
  background-color: #3c6775;
}

.treeview-menu {
  width: 100%;
  flex-direction: column;
  margin: 0 1px;
  background: rgb(8, 53, 66);
  overflow: visible;
  height: auto;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  list-style: none;
  display: flex !important;
  transition: display 0.5s;
}
.treeview-menu.hid {
  background: #2c3b41;
  overflow: visible;
  display: none !important;
  list-style: none;
  transition: display 0.5s;
}
.treeview-menu > li {
  margin: 0;
}
.treeview-menu > li > a {
  color: #8aa4af;
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  position: relative;
  text-decoration: none;
}
.treeview-menu > li > a > .fa {
  width: 20px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
}

.fa-circle-o::before {
  content: "\f10c";
}
.text-xxs {
  font-size: 10px;
  font-weight: 400;
}
.hide-dis {
  font-size: auto !important;
  transition: font-size 0.5s;
}
.hide-dis.ok {
  font-size: 0px !important;
  transition: font-size 0.5s;
}
.treeview-menu.h-auto li a:hover {
  color: white;
}
.treeview-menu.hid:hover {
  display: block !important;
}
.pad-pro {
  padding-top: 12px;
}
