.activeItem {
	border-left: 5px solid #ffcc4e;
	background-color: #3c6775;
}
.agency_aside {
	width: 300px;
	transition: width 0.5s;
	height: 100%;
	background-color: #084c61;
	position: fixed !important;
	left: 0;
	top: 0;
	z-index: 10;
	box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
}
.agency_aside.toggled {
	width: 80px;
	transition: width 0.5s;
}

.agency_profile_sidebar span:last-child {
	font-size: 12px;
	transition: font-size 0.5s;
}
.agency_profile_sidebar span:first-child {
	font-size: 14px;
	transition: font-size 0.5s;
}
.agency_profile_sidebar {
	font-size: 14px;
	transition: font-size 0.5s;
}
.agency_profile_sidebar.toggled span,
.agency_profile_sidebar.toggled {
	font-size: 0px !important;
	transition: font-size 0.5s;
}
