.set-fonts h1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px !important;
  white-space: nowrap;
}
.set-fonts p {
  color: #707070;
  white-space: nowrap;
}

.my-staring {
  white-space: nowrap;
}
.set-back {
  background-color: #f9f9f9;
}
@media (max-width: 1600px) {
  .set-fonts p {
    font-size: 12px !important;
  }
}
