.padleft {
  z-index: 5;
  padding-left: 0px;
  transition: padding 0.3s;
  background-color: #f5f5f5;
}
.padleft-sm {
  z-index: 5;
  padding-left: 80px;
  transition: padding 0.5s;
  background-color: #f5f5f5;
}
