@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.scroll-div {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  max-height: 450px;
}

.padleft {
  z-index: 5;
  padding-left: 0px;
  transition: padding 0.3s;
  background-color: #f5f5f5;
}
.padleft-sm {
  z-index: 5;
  padding-left: 80px;
  transition: padding 0.5s;
  background-color: #f5f5f5;
}
.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
}
.agency_choice_time_btn {
  font-size: 0.8rem !important;
  border: 1px solid #ffcc4e !important;
  border-right: none;
  border-left: none;
  background-color: white;
  color: #ffcc4e;
  padding: 4px 10px;
  border-radius: 5px;
  margin: 0 5px;
}
.agency_choice_time_btn.active {
  background-color: #ffcc4e;
  color: white;
}
.agency_choice_time_btn:hover {
  background-color: #ffcc4e;
  color: white;
}
@media (max-width: 1200px) {
  .agency_row {
    flex-direction: column-reverse !important;
    padding: 0 30px !important;
  }
  .agency_col {
    width: 100% !important;
  }
}
